[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

Flask = "*"
mechanize = "*"
requests = "*"
"bs4" = "*"
twill = "*"
lxml = "*"
cssselect = "*"
DateTime = "*"

[requires]
python_full_version = "2.7.14"
