<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MyBu - by N3onSnak3</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

</head>

<body>

<div id="page-content-wrapper">
    {#    <nav class="navbar navbar-dark bg-dark sticky-top">#}
    {#        <!-- Navbar content -->#}
    {#        <a class="navbar-brand" href="/">MYBU</a>#}
    {#        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">#}
    {#            <li class="nav-item active">#}
    {#                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>#}
    {#            </li>#}
    {#            <li class="nav-item">#}
    {#                <a class="nav-link" href="#">Link</a>#}
    {#            </li>#}
    {#            <li class="nav-item">#}
    {#                <a class="nav-link disabled" href="#">Disabled</a>#}
    {#            </li>#}
    {#        </ul>#}
    {#    </nav>#}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a class="navbar-brand" href="/">MYBU</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container-fluid">
        <h1>Hello, world!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed varius nunc, ut mollis ex. Nunc tempus sapien at sem egestas, at pretium ipsum gravida. Aliquam erat volutpat. Cras ac venenatis quam, eget pharetra turpis. Sed ultricies erat vel erat blandit varius. Aliquam erat volutpat. Sed fringilla consequat varius. Fusce sapien nisi, porttitor nec purus eget, hendrerit ullamcorper urna. Pellentesque a lacus id ipsum fringilla facilisis ut eu libero.

Aliquam vel risus orci. Donec lobortis vestibulum risus eget convallis. Cras sed imperdiet mauris, in elementum ligula. Nulla facilisi. Sed condimentum, lectus non posuere ornare, velit erat mattis dolor, vitae egestas lectus eros sed lacus. Duis pharetra, dolor vel vehicula faucibus, elit mauris consequat nisi, ac commodo turpis erat id justo. Phasellus faucibus in diam at imperdiet. Maecenas rhoncus orci congue, feugiat augue a, sagittis velit. Nullam pulvinar dolor ac nunc convallis, eu faucibus libero auctor. Nullam eu suscipit nibh, quis tempus arcu.

Vestibulum mi ipsum, iaculis sed hendrerit ut, dignissim et nulla. Etiam at maximus elit. Cras fringilla leo et posuere aliquam. In ut dapibus libero. Suspendisse ut nisi nec orci gravida pretium feugiat maximus diam. Nam cursus elit quis iaculis venenatis. Vestibulum id diam euismod, fringilla elit sit amet, porta tortor. Pellentesque ullamcorper, nibh ut finibus elementum, ex libero egestas urna, quis posuere metus neque vitae ex. Suspendisse tristique vitae mi ac tincidunt.

Morbi sed enim lacinia dui fermentum feugiat. Nulla facilisi. Praesent ut commodo purus. Sed gravida, libero nec semper commodo, ligula orci blandit nulla, a suscipit nulla ante vel justo. Quisque suscipit erat nulla, ac pellentesque mi convallis eget. Donec condimentum lorem luctus elit efficitur rutrum. Mauris malesuada lacinia odio vel vol</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed varius nunc, ut mollis ex. Nunc tempus sapien at sem egestas, at pretium ipsum gravida. Aliquam erat volutpat. Cras ac venenatis quam, eget pharetra turpis. Sed ultricies erat vel erat blandit varius. Aliquam erat volutpat. Sed fringilla consequat varius. Fusce sapien nisi, porttitor nec purus eget, hendrerit ullamcorper urna. Pellentesque a lacus id ipsum fringilla facilisis ut eu libero.

Aliquam vel risus orci. Donec lobortis vestibulum risus eget convallis. Cras sed imperdiet mauris, in elementum ligula. Nulla facilisi. Sed condimentum, lectus non posuere ornare, velit erat mattis dolor, vitae egestas lectus eros sed lacus. Duis pharetra, dolor vel vehicula faucibus, elit mauris consequat nisi, ac commodo turpis erat id justo. Phasellus faucibus in diam at imperdiet. Maecenas rhoncus orci congue, feugiat augue a, sagittis velit. Nullam pulvinar dolor ac nunc convallis, eu faucibus libero auctor. Nullam eu suscipit nibh, quis tempus arcu.

Vestibulum mi ipsum, iaculis sed hendrerit ut, dignissim et nulla. Etiam at maximus elit. Cras fringilla leo et posuere aliquam. In ut dapibus libero. Suspendisse ut nisi nec orci gravida pretium feugiat maximus diam. Nam cursus elit quis iaculis venenatis. Vestibulum id diam euismod, fringilla elit sit amet, porta tortor. Pellentesque ullamcorper, nibh ut finibus elementum, ex libero egestas urna, quis posuere metus neque vitae ex. Suspendisse tristique vitae mi ac tincidunt.

Morbi sed enim lacinia dui fermentum feugiat. Nulla facilisi. Praesent ut commodo purus. Sed gravida, libero nec semper commodo, ligula orci blandit nulla, a suscipit nulla ante vel justo. Quisque suscipit erat nulla, ac pellentesque mi convallis eget. Donec condimentum lorem luctus elit efficitur rutrum. Mauris malesuada lacinia odio vel vol</p>
    </div>
</div>


<!-- Additonal javascript files, courtesy of BootStrap -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>

</body>
</html>