{% extends "base.html" %}
{% block content %}
    <style>
        body {
            background-color: #e6f7ff;
        }

        .card {
            margin: 1em 0 1em 0;
            padding: 0;
        }
    </style>
    <h2><strong>BULLET</strong>IN</h2>
    <h5>~ Shoot off random messages with ease ~</h5>

    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#newPostModal">
        New Bullet
    </button>

    <div class="modal fade" id="newPostModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">New Bullet</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>

                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">@</div>
                                {% if session["username"] is defined %}
                                    <input type="text" class="form-control" id="shortName" placeholder="Anon-..." value="{{ session['username'] }}" disabled>
                                {% else %}
                                    <input type="text" class="form-control" id="shortName" placeholder="Anon-..." value="anon-">
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Message:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="close">Close</button>
                    <button type="button" class="btn btn-primary" id="posted">Post</button>
                </div>
            </div>
        </div>
    </div>
    {% for comment in comments %}
        <div class="card col-sm-12 col-md-5 col-lg-4">
            <div class="card-block">
                <div class="card-body">
                    <p class="card-text" style="text-align: center;">"{{ comment.content }}"</p>
                </div>
            </div>
            <div class="card-footer text-muted">
                <p><strong>@{{ comment.author }}</strong><i style="float: right">{{ comment.time_stamp }}</i></p>
            </div>
        </div>
    {% endfor %}
    <div class="alert alert-danger" role="alert" style="text-align: center;"><strong>In Progress Web Tool </strong> We
        are basing this section off of other online anon comment sections. (AskFM, Sarahah, etc.) Please Make
        Suggestions, but remember that we are hardly in alpha state.
    </div>
    <script>
        $("#posted").click(function () {
            var thing = $("#shortName").val();
            var thing2 = $("#message-text").val();
            $.post("/comments/new",
                {
                    name: thing,
                    message: thing2
                },
                function (data, status) {
                    //alert("Data: " + data + "\nStatus: " + status);
                    // Closes the Modal
                    $("#close").click();
                    location.reload();
                });
        });
    </script>
    <p><i>Version: 1.0.2a</i></p>
{% endblock %}
