{% extends "base.html" %}
{% block banner %}
    <style>
        .jumbotron {
            margin-bottom: 1rem;
        }
    </style>
    <div class="jumbotron jumbotron-fluid"
         style="background: linear-gradient(to right, #00b4ff , #353b41); color: aliceblue;">
        <div class="container">
            <h1>Welcome to MyBu!</h1>
            <p><i>[mahy-boo]</i></p>
            <p>A Beta Site meant to try and connect Bethel Students</p>
            <p><a class="btn btn-dark btn-lg" href="/connect" role="button">Go!</a></p>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <p><b>11/01/17</b></p>
            <p>
                Hello once again,
                A decent update to the site, it now does something. Not only can you look up your bethel compañeros, but
                you can also post to the bulletin board. The new feature is avaliable in the comments tab. Simply press,
                "new post", then proceed to enter your name that you want to be referenced as, then enter whatever the
                frick you want! Eventually I plan to move this towards a user system, as well as including richer
                content. (if someone enters a link, it will pull up a picture etc.) For now this is what you get.
                Remember to make suggestions, or report bugs within this new feature! <strong>You can report comments on
                the help tab</strong>
            </p>
            <p>
                Thanksgiving Lit, GG
            </p>
            <iframe src="https://giphy.com/embed/uJSlAuoxMbl0A" width="200" frameBorder="0"
                    class="giphy-embed" allowFullScreen></iframe>
            <p><a href="https://giphy.com/gifs/idubbbztv-thats-pretty-good-uJSlAuoxMbl0A">via GIPHY</a></p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <p><b>10/23/17</b></p>
            <p>
                Hello,
                Small Update to the Site today, I have added a couple new pages. We have a login page, however this is
                not a working page at all; you can click on it just cause, otherwise ignore it. I also added a comments
                page, you can view it by clicking, however this is also non functioning. <strong>However,</strong> I
                have now added something semi useful. A HELP PAGE. Now you and your friends can contact me for bugs,
                suggestions, or other issues/comments. So that's all. Maybe one day this site will have a purpose.
            </p>
            <p>
                Tis Lit, GG
            </p>
            <iframe src="https://giphy.com/embed/ZzGwIxkiKyBqg" width="200" height="200" frameBorder="0"
                    class="giphy-embed" allowFullScreen></iframe>
            <p><a href="https://giphy.com/gifs/ZzGwIxkiKyBqg">via GIPHY</a></p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <p><b>10/06/17</b></p>
            <p>
                Welcome to the site! Wow this is getting repetitive. Anyhow, the site is intended for a few different
                tools I am developing. The tools are still in progress, and can hardly be tested. The website will
                eventually be updated to a point to where people can contact me, or give suggestions.
            </p>
            <p>
                Peace, GG
            </p>
            <iframe src="https://giphy.com/embed/o0vwzuFwCGAFO" width="200" height="200" frameBorder="0"
                    class="giphy-embed"
                    allowFullScreen></iframe>
            <p><a href="https://giphy.com/gifs/cat-hacker-webs-o0vwzuFwCGAFO">via GIPHY</a></p>
        </div>
    </div>
    <p><i>***This site will only connect on Bethel Based Networks***</i></p>
{% endblock %}
