{% extends "base.html" %}
{% block content %}
    <h1>Welcome to MyBu!</h1>
    <p><i>[mahy-boo]</i></p>
    <p><b>10/06/17</b></p>
    <p>
        Welcome to the site! Wow this is getting repetitive. Anyhow, the site is intended for a few different tools I
        am developing. The tools are still in progress, and can hardly be tested. The website will eventually be updated
        to a point to where people can contact me, or give suggestions.
    </p>
    <p>
        Peace, GG
    </p>
    <iframe src="https://giphy.com/embed/o0vwzuFwCGAFO" width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <p><a href="https://giphy.com/gifs/cat-hacker-webs-o0vwzuFwCGAFO">via GIPHY</a></p>
    <p><i>***This site will only connect on Bethel Based Networks***</i></p>
{% endblock %}
